<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsDFY1Nj9TEVnu6UL9zsAOo8u2Cb41am0</string>
	<key>GCM_SENDER_ID</key>
	<string>348425985033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DeveloperAcademy-POSTECH.Zelmooni</string>
	<key>PROJECT_ID</key>
	<string>miracall-a669c</string>
	<key>STORAGE_BUCKET</key>
	<string>miracall-a669c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348425985033:ios:1970aa22cd94e89ef3acd8</string>
</dict>
</plist>