<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NeoB.ttf</string>
		<string>NeoEB.ttf</string>
		<string>NeoH.ttf</string>
		<string>NeoL.ttf</string>
		<string>NeoM.ttf</string>
		<string>NeoR.ttf</string>
		<string>NeoSB.ttf</string>
		<string>NeoT.ttf</string>
		<string>NeoUL.ttf</string>
	</array>
</dict>
</plist>
